# Configurações do Banco de Dados
DB_URL=jdbc:postgresql://localhost:5432/nome_do_seu_banco
DB_USERNAME=seu_usuario
DB_PASSWORD=sua_senha

# Segurança JWT
JWT_SECRET=sua_chave_secreta_de_pelo_menos_32_caracteres
JWT_EXPIRATION_MS=3600000